@using QuestionnaireSys.DAL
@using QuestionnaireSys.Model
@{
    ViewBag.Title = "UpdataClass";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    UnitOfWork work = new UnitOfWork();
    List<School> SchoolName = work.Repository<School>().GetList().ToList();
}


<div class="page-container">
    <form action="" method="post" class="form form-horizontal">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">&emsp;学校名称：</label>
            <div class="formControls col-xs-6 col-sm-2">
                <span class="select-box">
                    <select name="" id="SchoolId" class="select">
                        @foreach (var item in SchoolName)
                        {
                            <option value="@item.Id">@item.SchoolName</option>
                        }
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">&emsp;班级名称：</label>
            <div class="formControls col-xs-6 col-sm-2">
                <input type="text" class="input-text"value="@ViewBag.Classe.ClasseName" placeholder="请输入班级名称" id="ClasseName" name="">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button @*onClick="btnSava()"*@ id="btnUpdata" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 修改</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <script src="~/Areas/admin/Script/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
    $(function () {
        $("#btnUpdata").click(function () {
            var Id=@ViewBag.Id;
            var school = $("#SchoolId").val();
            var name = $("#ClasseName").val();
            if (name=="") {
                layer.msg("班级名称不能为空！");    
            }
            else{
                $.post("/admin/Class/UpdataClass", ({Id:Id, SchoolId: school, ClasseName: name }), 
                    function (data) {
                    if (data.success) {
                        layer.msg("修改成功！", { icon: 1 }, { icon: 1 }, setTimeout(function () {
                            parent.location.reload();
                        }, 2000))
                    } else {
                        layer.msg("修改失败", { icon: 2, time: 2000 });
                    }
                }, "json")
            }
        })
    })
    </script>
}

