@using QuestionnaireSys.DAL
@using QuestionnaireSys.Model

@{
    ViewBag.Title = "Adddepatment";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    UnitOfWork work = new UnitOfWork();
    List<Depart> DepartName = work.Repository<Depart>().GetList().ToList();
}

<title>添加部门信息</title>
<div class="page-container">
    <form action="" method="post" class="form form-horizontal">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">&emsp;部门名称：</label>
            <div class="formControls col-xs-6 col-sm-1">
                <input type="text" class="input-text" placeholder="请输入部门名称" id="DepartName" name="">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-6 col-sm-2 col-xs-offset-4 col-sm-offset-2">
                <button @*onClick="btnSava()"*@ id="btnSava" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <script src="~/Areas/admin/Script/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
    $(function () {
        //$("#btnSava").click(function () {
        //    var name = $("#DepartName").val();
        //    $.post("/admin/department/Adddepartment", ({ DepartName: name }), function (data) {
        //        if (data.success) {
        //            alert(data.message);
        //        } else
        //        {
        //            alert(data.message);
        //        }
        //    }, "json")
        //})
        $("#btnSava").click(function () {
            var name = $("#DepartName").val();
            if (name == "") {
                layer.msg("部门名称不能为空！");
            }
            else {
                $.post("/admin/department/Adddepartment", ({ DepartName: name }), function (data) {
                 if (data.success) {
                     layer.msg(data.message, { icon: 1 }, setTimeout(function () {
                         parent.location.reload();
                     }, 2000))
                  } else{
                     layer.msg(data.message, { icon: 2 })
                        }
               }, "json")
            }
        })
    })
function layer_close() {
     var index = parent.layer.getFrameIndex(window.name);
     parent.layer.close(index);
}
    </script>
}




